{% load static %}
<html>
<head>
    <title>New Ransomware</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "popper.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <ul>
            {% for ransom in ransomlist %}
                <li>{{ ransom.ransom_name }}</li>

            {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <form action="/ransom" method="post" style="margin-top: 50px">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Ransomware Name:</label>
                    <input type="text" class="form-control" name="name" id="names">
                </div>
                <div class="form-group">
                    <label for="parent">Parent:</label>
                    <input type="text" class="form-control" name="parent">
                </div>
                <div class="form-group">
                    <label for="family">Family:</label>
                    <input type="text" class="form-control" name="family">
                </div>
                <div class="form-group">
                    <label for="similar">Similar:</label>
                    <input type="text" class="form-control" name="similar">
                </div>
                <div class="form-group">
                    <label for="attacktype">AttackType:</label>
                    <input type="text" class="form-control" name="attacktype">
                </div>
                <div class="form-group">
                    <label for="isroot">Is Root?</label>
                    <input type="radio" class="form-check-inline" name="isroot" value="True">Yes
                    <input type="radio" class="form-check-inline" name="isroot" value="False">No
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control" name="author">
                </div>
                <div class="form-group">
                    <label for="platform">Platform:</label>
                    <input type="text" class="form-control" name="platform">
                </div>
                <button type="submit" id="salam" class="btn btn-info">Submit!</button>

            </form>
        </div>
        <div class="col-4">
            <ul>
            {% for parent in parentslist %}
                <li>{{ parent }}</li>

            {% endfor %}
            </ul>
        </div>
    </div>
</div>

</body>
</html>