{% load static %}
<html>
<head>
    <title>New Sample</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "popper.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <a href="/Ransomware">Submit a ransomware!</a>
            <form action="/test" method="post" style="margin-top: 30px">
                {% csrf_token %}
                <div class="form-group">
                    <label for="sha256">SHA256:</label>
                    <input type="text" class="form-control" name="sha256">
                </div>
                <div class="form-group">
                    <label for="ransomname">Ransom Name:</label>
                    <select class="form-control" name="ransomname">
                        {% for ransom in ransomlist %}
                            <option value="{{ ransom.ransom_name }}">{{ ransom.ransom_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="extension">Extension:</label>
                    <input type="text" class="form-control" name="extension">
                </div>
                <div class="form-group">
                    <label for="mutex">Mutex:</label>
                    <input type="text" class="form-control" name="mutex">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="social_id">Social ID:</label>
                    <input type="text" class="form-control" name="social_id">
                </div>
                <div class="form-group">
                    <label for="wallettype">Wallet Type:</label>
                    <input type="text" class="form-control" name="wallettype">
                </div>
                <div class="form-group">
                    <label for="walletno">Wallet No.:</label>
                    <input type="text" class="form-control" name="walletno">
                </div>
                <div class="form-group">
                    <label for="publickey">Public Key:</label>
                    <input type="text" class="form-control" name="publickey">
                </div>
                <div class="form-group">
                    <label for="deckey">Decryption Key:</label>
                    <input type="text" class="form-control" name="deckey">
                </div>
                <div class="form-group">
                    <label for="additional">Additional:</label>
                    <textarea rows="3" class="form-control" name="additional"></textarea>
                </div>
                <button type="submit" class="btn btn-info">Submit!</button>
            </form>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
</body>
</html>